@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --caption-font-family: "ABC Diatype", Helvetica;
  --caption-font-size: 10px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: 12px;
  --carbon-darkest: rgba(36, 38, 43, 1);
  --carbon-neutral300: rgba(214, 217, 221, 1);
  --dark-face-primaryalt: rgba(0, 0, 0, 1);
  --darkborderprimary: rgba(61, 61, 61, 0.44);
  --darkfaceprimary: rgba(255, 255, 255, 1);
  --darkfacesecondary: rgba(255, 255, 255, 0.64);
  --darkfacetertiary: rgba(255, 255, 255, 0.52);
  --darkfacetertiarydisabled: rgba(255, 255, 255, 0.32);
  --darklayerbackground: rgba(0, 0, 0, 1);
  --darklayerprimary: rgba(20, 20, 20, 1);
  --darklayerprimaryhover: rgba(31, 31, 31, 1);
  --darklayersecondary: rgba(31, 31, 31, 1);
  --darkobjectaccent: rgba(255, 212, 212, 1);
  --darkobjectprimary: rgba(255, 255, 255, 1);
  --darkobjecttertiary: rgba(20, 20, 20, 1);
  --product-000: rgba(255, 255, 255, 1);
  --semanticvariablefaceprimary: rgba(255, 255, 255, 1);
  --subheadline-02-font-family: "ABC Diatype", Helvetica;
  --subheadline-02-font-size: 14px;
  --subheadline-02-font-style: normal;
  --subheadline-02-font-weight: 500;
  --subheadline-02-letter-spacing: 0px;
  --subheadline-02-line-height: 20px;
  --subheadline-03-font-family: "ABC Diatype", Helvetica;
  --subheadline-03-font-size: 12px;
  --subheadline-03-font-style: normal;
  --subheadline-03-font-weight: 500;
  --subheadline-03-letter-spacing: 0px;
  --subheadline-03-line-height: 16px;
  --systemorange-light: rgba(255, 149, 0, 1);
  --teal: rgba(255, 231, 204, 1);
  --title-04-font-family: "ABC Diatype", Helvetica;
  --title-04-font-size: 18px;
  --title-04-font-style: normal;
  --title-04-font-weight: 500;
  --title-04-letter-spacing: 0px;
  --title-04-line-height: 20px;
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
